 <div id="main-banner">
 	<div class="content-wrapper">
    </div>
 </div>   

 <section id="med-menu">
 	<div class="content-wrapper">
 		<div id="novedades">
 		</div>
 		<div id="ofertas">
 		</div>
 		<div id="de-coleccion">
 		</div>
 	</section>
 </div>
</div>